.text-italic{font-style: italic;}
.text-italic-xs{
	@include media($xs){
		font-style: italic!important;
	}
}
.text-italic-sm{
	@include media($sm...){
		font-style: italic!important;
	}
}
.text-italic-md{
	@include media($md...){
		font-style: italic!important;
	}
}
.text-normal{text-transform: normal;}
.text-normal-xs{
	@include media($xs){
		text-transform: normal!important;
	}
}
.text-normal-sm{
	@include media($sm...){
		text-transform: normal!important;
	}
}
.text-normal-md{
	@include media($md...){
		text-transform: normal!important;
	}
}
.text-uppercase{text-transform: uppercase;}
.text-uppercase-xs{
	@include media($xs){
		text-transform: uppercase!important;
	}
}
.text-uppercase-sm{
	@include media($sm...){
		text-transform: uppercase!important;
	}
}
.text-uppercase-md{
	@include media($md...){
		text-transform: uppercase!important;
	}
}
.text-lowercase{text-transform: lowercase;}
.text-lowercase-xs{
	@include media($xs){
		text-transform: lowercase!important;
	}
}
.text-lowercase-sm{
	@include media($sm...){
		text-transform: lowercase!important;
	}
}
.text-lowercase-md{
	@include media($md...){
		text-transform: lowercase!important;
	}
}
.text-capitalize{text-transform: capitalize;}
.text-capitalize-xs{
	@include media($xs){
		text-transform: capitalize!important;
	}
}
.text-capitalize-sm{
	@include media($sm...){
		text-transform: capitalize!important;
	}
}
.text-capitalize-md{
	@include media($md...){
		text-transform: capitalize!important;
	}
}
.text-center{text-align: center;}
.text-center-xs{
	@include media($xs){
		text-align: center!important;
	}
}
.text-center-sm{
	@include media($sm...){
		text-align: center!important;
	}
}
.text-center-md{
	@include media($md...){
		text-align: center!important;
	}
}
.text-left{text-align: left;}
.text-left-xs{
	@include media($xs){
		text-align: left!important;
	}
}
.text-left-sm{
	@include media($sm...){
		text-align: left!important;
	}
}
.text-left-md{
	@include media($md...){
		text-align: left!important;
	}
}
.text-right{text-align: right;}
.text-right-xs{
	@include media($xs){
		text-align: right!important;
	}
}
.text-right-sm{
	@include media($sm...){
		text-align: right!important;
	}
}
.text-right-md{
	@include media($md...){
		text-align: right!important;
	}
}
.text-shadow{text-shadow: 1px 1px 1px rgba(0,0,0,0.3);}
.text-shadow1{text-shadow: 1px 1px 1px rgba(0,0,0,0.6);}
.text-shadow2{text-shadow: 1px 1px 1px rgba(0,0,0,0.8);}
.text-underline{text-decoration:underline;}
.letter-spacing-initial{letter-spacing:initial;}
@for $i from 1 through 20{
	.letter-spacing-#{$i}{letter-spacing:#{$i}px;}
}