@import '../assets/mixins/responsive';

$xs : '<=767px';
$sm : '>=768px','<=991px';
$md : '>=992px','<=1199px';
$lg : '>=1200px';

// ---------------------

body{
	background-color: #EEEDED!important;
}
#header1{
	.menu{
		@include media($xs){
			position:absolute;
			width:460px;
			z-index:1;
		}
		li a{
			color: #707070;
		}
	}
}


