<template>
  <div id="app">
    <appheader></appheader>    
    <router-view></router-view>
  </div>
</template>

<script>
  
  import './assets/scss/style.scss';
  import appheader from './components/header.vue';

  export default {
    name: 'app',
    components : { appheader }
  }
</script>