@import 'mixins/responsive';
@import 'mixins/box_shadow';
@import 'mixins/divider';
@import 'mixins/flex';
@import 'mixins/gradient';
@import 'mixins/radius';
@import 'mixins/animation';


$color-orange : #f9ad19;
$color-green :#37A000;
$color-black : #000;
$color-dark : #555555;
$color-gray: rgba(#000000,.2);

$xs : '<=767px';
$sm : '>=768px','<=991px';
$md : '>=992px','<=1199px';
$lg : '>=1200px';

// -- checkbox and radio settings
$ck-border : $color-green;
$ck-border-notactive : #999;
$ck-active-bg: none;
$ck-disabled-border: #cccccc;