.btn.btn-success:not(:disabled):not(.disabled):active, .btn.btn-success:not(:disabled):not(.disabled):active{
	background-color: #007F35!important;
    border-color: #007F35!important;
}
.btn.btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn.btn-warning:not(:disabled):not(.disabled):active, .btn.btn-warning:not(:disabled):not(.disabled):active{
	background-color: #e0a800;
    border-color: #d39e00;
}
.btn.btn-danger:not(:disabled):not(.disabled):active, .btn.btn-danger:not(:disabled):not(.disabled):active{
    background-color: #c82333;
    border-color: #bd2130;
}
.btn{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:5px;
	padding-right:5px;
	min-width:250px;
	border-color: darken(#ededed,.5);
	&:not(.btn-success):not(.btn-primary):not(.btn-warning):not(.btn-danger):hover{
		background: darken(#ededed,.5);
		@include box-shadow(0);
	}
	&.small{
		min-width:180px;
		padding-top:5px;
		padding-bottom: 5px;
	}
	&.btn-rounded{
		@include radius(50);
	}
	letter-spacing: .7px;
	&.btn-success,&.btn-primary{
		background: #37A000;
		border-color:#37A000;
		color:#FFF!important;
		@include box-shadow(0);
		&:not([disabled]):hover{
			box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.4) !important;
			color:#FFF!important;
		}
		&[disabled]{
			background: #37A000!important;
			color:#FFF!important;
		}
	}
	&.btn-warning{
		color:#FFF!important;
		&:not([disabled]):hover{
			box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.4) !important;
			color:#FFF!important;
		}
		&[disabled]{
			background: #ffc107!important;
			color:#FFF!important;
		}
	}
	&.btn-danger{
		color:#FFF!important;
		&:not([disabled]):hover{
			box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.4) !important;
			color:#FFF!important;
		}
		&[disabled]{
			background: #dc3545!important;
			color:#FFF!important;
		}
	}
	&:focus,&:visited{
		box-shadow: none !important
	}
	&:active{
		position:relative;
		top:-5px!important;
	    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.4) !important;
	    transition:500ms;
	}
	&[disabled]{
		box-shadow:none!important;
		opacity:.8;
		&:hover{
			background: rgba(#999999,.2);
			color: rgba(0,0,0,.38);
		};
	}
}