label{
	font-weight:600;
}
.form-control{
	border-color: rgba(#000000,.2);
	border-width:1.5px;
    padding: 12px 16px;
    height:51px;
    &.rounded{
    	-webkit-border-radius: 50px!important;
    	-moz-border-radius: 50px!important;
    	-o-border-radius: 50px!important;
    	border-radius: 50px!important;
    }
	&:focus{
		border-color:#007F35!important;
		box-shadow: none!important;
	}
}
.input-icon{
	position:relative;
	.field-wrapper{
		position: relative;
	}
	.icon{
		top:0px;
	    position: absolute;
	    z-index: 10;
	    font-size: 19px;
	    opacity: .6;
	    height: 100%;
	    align-items: center;
	    display: flex;
	}
	&.icon-left{
		input{
			padding-left:44px!important;
		}
		.icon{
			left:15px;
			right:initial;
		}
	}
	&.icon-right{
		input{
			padding-right:44px!important;
		}
		.icon{
			left:initial;
			right:15px;
		}
	}
	&.password-switcher{
		&.switcher-icon-left{
			input{
				padding-left:44px!important;
			}
			.switcher{
				left:15px!important;
				right:initial!important;
			}
		}
		&.switcher-icon-right{
			input{
				padding-right:44px!important;
			}
			.switcher{
				left:initial!important;
				right:15px!important;
			}
		}
	}
}

.select-option{
	position:relative;
	i{
		position: absolute;
	    top: 10px;
	    right: 15px;
	    z-index: 10;
	    font-size: 32px;
	    opacity: 0.5;
	    cursor: pointer;
	}
	&.rounded select{
		-webkit-border-radius: 50px!important;
		-moz-border-radius: 50px!important;
		-o-border-radius: 50px!important;
		border-radius: 50px!important;
	}

	select{
		-webkit-appearance:none;
		-moz-appearance:none;
		-o-appearance:none;
		appearance:none;
		border:1.5px solid $color-gray!important;;
		display: block;
	    width: 100%;
	    border-width:1.5px;
	    padding: 12px 16px;
	    height:51px;
	    font-size: 1rem;
	    font-weight: 400;
	    line-height: 1.5;
	    color: #495057;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #ced4da;
	    border-radius: .25rem;
	    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	    &:focus{
	    	outline:none;
	    	border-color:#007F35!important;
			box-shadow: none!important;
	    }
	}
}
.form-error{
	margin-bottom: 4px;
}

// -- line floating input
.floating-label {
  position: relative;
  margin-bottom: 30px;
  &.active label{
	top: -18px;
	font-size: 14px;
	color: $color-green;
  }
  label{
  	color: #999;
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 5px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
  }
  input,select{
	-webkit-border-radius:0px!important;
	-moz-border-radius:0px!important;
	-o-border-radius:0px!important;
	border-radius:0px!important;
  }
  .switcher{
  	top: -5px;
  	right: 5px;
  }
}

.floating-input, .floating-select {
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(#000000,.2);
}

.floating-input:focus, .floating-select:focus {
  outline: none;
  border-bottom: 2px solid $color-green;
}
/* active state */
.floating-input:focus ~ .bar {
  &:before, &:after {
    width: 50%;
  }
}

.floating-select:focus ~ .bar {
  &:before, &:after {
    width: 50%;
  }
}

.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}

/* highlighter */

.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */

.floating-input:focus ~ .highlight, .floating-select:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
  from {
    background: rgba(#000000,.2);
  }

  to {
    width: 0;
    background: transparent;
  }
}


@-moz-keyframes inputHighlighter {
  from {
    background: $color-green;
  }

  to {
    width: 0;
    background: transparent;
  }
}


@keyframes inputHighlighter {
  from {
    background: $color-green;
  }

  to {
    width: 0;
    background: transparent;
  }
}

// -- super select
.super-select{
	position:relative;
	.text-content{
		-webkit-appearance:none;
		-moz-appearance:none;
		-o-appearance:none;
		appearance:none;
		border:1.5px solid $color-gray!important;;
		display: block;
	    width: 100%;
	    border-width:1.5px;
	    padding: 12px 16px;
	    height:51px;
	    font-size: 1rem;
	    font-weight: 400;
	    line-height: 1.5;
	    color: #495057;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #ced4da;
	    border-radius: .25rem;
	    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	    cursor: pointer;
	}
    i{
		position: absolute;
	    top: 10px;
	    right: 15px;
	    z-index: 10;
	    font-size: 32px;
	    opacity: 0.5;
	    cursor: pointer;
	}
    &.active{
    	outline:none;
    	border-color:#007F35!important;
    }
    
	&.active .super-select-items-wrapper{
		display:block;
	}
	.super-select-items-wrapper{
    	display:none;
    	position:absolute;
    	top:0px;
    	min-height:50px;
    	z-index:100;
    	@include box-shadow(1);
    	border:1px solid #ededed;
    	@include radius(3);
	    background: #FFF;
	    left: 0px;
	    width: 100%;
	    padding-bottom:8px;
    	ul{
    		max-height: 200px;
    		overflow-x:hidden;
    		overflow-y:auto;
	    	padding:0px;
	    	margin:0px;
	    	li{
	    		list-style: none;
	    		clear:both;
	    		float:none;
	    		a{
	    			font-size: inherit;
	    			display:block;
	    			text-decoration:none;
	    			padding: 5px 12px;
	    			color:inherit;
	    			&:hover{
						color:#FFF;
						background: $color-green;
	    			}
	    		}
	    	}
	    }
    }
    
    
	select{
		display:none!important;
	}
	&.rounded .text-content{
		-webkit-border-radius: 50px!important;
		-moz-border-radius: 50px!important;
		-o-border-radius: 50px!important;
		border-radius: 50px!important;
	}
}