.sidebar-toggle-menu {
    font-size: 24px;
    color: #FFF;
    width: 30px;
    line-height: initial;
    float: right;
	text-decoration: none;
	&:hover,&:active,&:visited{
		text-decoration: none;
	}	
}
#sidebar-menu-box{
	display:none;
	height:100vh;
	background: #242424;
	position:fixed;
	top:0px;
	right:0px;
	overflow-x:hidden;
	overflow-y:auto;
	width:600px;
	z-index:999;
	&.left-open{
		right: initial !important;
		left: 0px !important;
	}
	*{
		color: #FFF;
		opacity: 1;
	}
	text-align: center;
	padding: 32px;
	ul{
		display:table;
		margin-left: auto!important;
		margin-right: auto !important;
		li{
			height:initial;
		}
	}

	-webkit-animation-duration: 300ms;
	-moz-animation-duration: 300ms;
	-o-animation-duration: 300ms;
	animation-duration: 300ms;

	@include media($xs){
		width: 100%;
	}
	.divider{
		opacity: .5;
	}
	#sidebar-main-menu li{
		clear:both;
		float:none;
		text-align: center;
		margin-bottom:8px;
		width:100%;
		a{
			display:block;
		}
	}
	.sidebar-menu-close{
		position:absolute;
		top: 20px;
		right: 20px;
		font-size:24px;
	}

}