.bg-image{
	position:relative;
	min-height: 400px;
	&.fullscreen{
		height:100vh;
		.background-image-holder{
			height: 100vh;
		}
	}
	&.parallax .background-image-holder{
		background-attachment: fixed!important;
	    transform: translate3d(0px, 0px, 0px);
	}
	&.overlay .background-image-holder::after{
		content : "";
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		background: rgba(0,0,0,0.5);
	}
	&.overlay.overlay-light .background-image-holder::after{
		background: rgba(0,0,0,0.2);
	}
	&.overlay.overlay-heavy .background-image-holder::after{
		background: rgba(0,0,0,0.7);
	}
	.background-image-holder{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		background-repeat: no-repeat;
		background-size:cover;
		min-height: 400px;
		img{
			display:none!important;
		}
	}	
	&.bg-dark{
		background: #242424;
		*{
			color: #FFF;
		}
	}
}

.slider{
	min-height:400px;
	.slides li{
		min-height: 400px;
	}
	&.fullscreen{
		height: 100vh;
		.slides li{
			height: 100vh;
			.background-image-holder{
				height: 100vh;
			}
		}
	}
	&.v-center{
		.slides li{
			display:flex!important;
			align-items:center;
			justify-content:center;
		}
	}	
}
