.tab{
	// --default tabs
	.tab--header{
		ul{
			background:#FFF;
			padding: 0px;
			width:100%;
			width:100%;
			display: table;
			width:100%;
			border:none;
			@include radius(3);
			li{
				list-style:none;
				float:left;
				a{
					display:block;
					text-decoration: none;
					color: inherit;
					padding: 16px;
					&:hover{
						background: #ededed;
					}
				}
				&.active{
					a{
						background: $color-green;
						color:#FFF;
						@include radius(3);
					}
				}
			}
		}
	}
	.tab--content{
		width:100%;
		.tab-content{
			display: none;
			&.active{
				display:block!important;
			}
		}
	}
	// -- even tabs
	&.even.line{
		.tab--header{
			ul{
				display: flex;
				width:100%;
				li{flex-basis: 100%;}
			}
		}
	}
	&.even{
		.tab--header{
			ul{
				background:#FFF;
				padding: 0px;
				width:100%;
				border:1px solid $color-gray;
				display: flex;
				width:100%;
				@include radius(3);
				li{
					list-style:none;
					float:left;
					flex-basis: 100%;
					text-align: center;
					a{
						display:block;
						text-decoration: none;
						color: inherit;
						padding: 16px;
						border-right: 1px solid $color-gray;
						&:hover{
							background: #ededed;
						}
					}
					&:last-child{
						a{
							border-right:none!important;
						}
					}
					&.active{
						a{
							color: $color-green;
							background: none;
						}
					}
				}
			}
		}
	}
	// -- line tabs
	&.line{
		.tab--header{
			ul{
				background:#FFF;
				padding: 0px;
				width:100%;
				border: none;
				display:table;
				width:100%;
				border-bottom:1px solid $color-gray;
				@include radius(0);
				li{
					list-style:none;
					float:left;
					text-align: center;
					a{
						display:block;
						text-decoration: none;
						color: inherit;
						padding: 16px;
						@include radius(0);
						border:none;
						border-bottom:3px solid transparent;
						bottom: -1px;
						&:hover{
							background: #ededed;
						}
					}
					&.active{
						a{
							color: $color-green;
							background: none;
							border-bottom: 3px solid $color-green;
						}
					}
				}
			}
		}
	}
	&.side{
		// --default tabs
		.tab--header{
			width: 35%;
			float:left;
			@include media($xs){
				width: 100%;
			}
			ul{
				background:#FFF;
				padding: 0px;
				width:100%;
				width:100%;
				display: table;
				width:100%;
				border:none;
				@include radius(3);
				li{
					list-style:none;
					float:left;
					width:100%;
					a{
						display:block;
						text-decoration: none;
						color: inherit;
						padding: 16px;
						&:hover{
							background: #ededed;
						}
					}
					&.active{
						a{
							background: $color-green;
							color:#FFF;
							@include radius(3);
						}
					}
				}
			}
		}
		.tab--content{
			width: 65%;
			float:left;
			padding-left: 24px;
			@include media($xs){
				padding-left:0px;
			}
		}
	}

}