// -- defaults
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: .7px;
}
.border-bottom{
  margin-top: 18px;
  height:8px;
  width:40px;
  background: #37A000;
  margin-left:auto;
  margin-right:auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}
.border{
  border:1px solid #ededed;
}
a{
  color: $color-green;
  &.underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &.hover-underline:hover{
    text-decoration:underline;
  }
}

.opacity{
  &.full{
    opacity: 1;
  }
  opacity: .3;
  &.half{
    opacity: .5;
  }
  &.half7{
    opacity: .7;
  }
  &.half8{
    opacity: .8;
  }
}
.menu{
  li{
    float:left;
    list-style:none;
    a{
      text-decoration: none;
      opacity:.7;
      &:hover{
        opacity: 1;
      }
    }
  }
}
.logo{
  display:block;
  img{
    max-width: 100%;
    max-height: 100%;
    display:block;
  }
  &.center img{
    margin-left:auto;
    margin-right:auto;
  }
  &.left img{
    float:left;
  }
  &.right img{
    float:right;
  }
  &.xs img{
    height: 50px;
  }
  &.xss img{
    height: 40px;
  }
}
.full-width{width: 100%;}
.full-height{height: 100%;}
.width-vw{width:100vw;}
.height-vh{height:100vh;}

.line-height-initial{line-height:initial;}
.disabled{pointer-events:none;}
.max{max-width: 100%;max-height: 100%;}
.clear{clear: both; float: none;}
.clear-xs{
  @include media($xs){
    clear: both !important;
    float: none !important;
  }
}
.clear-sm{
  @include media($sm...){
    clear: both !important;
    float: none !important;
  }
}
.clear-md{
  @include media($md...){
    clear: both !important;
    float: none !important;
  }
}

.inline-block{display: inline-block;}

.overflow-hidden{overflow: hidden;}
.overflow-x{overflow-x: auto; overflow-y: hidden;}
.overflow-y{overflow-y: auto; overflow-x: hidden;}
.overflow-auto{overflow: auto;}


.height-initial{height:initial;}
.height-auto{height:auto;}
.width-initial{width:initial;}
.width-auto{width:auto;}
a,.transation{-webkit-transition: all 200ms ease-in-out;-moz-transition: all 200ms ease-in-out;-ms-transition: all 200ms ease-in-out;-o-transition: all 200ms ease-in-out;transition: all 200ms ease-in-out;}
.cursor-pointer{cursor:pointer;}
.hr{height:1px;background:#ededed;}
.border-none{border:none;}
.list-style-none{list-style:none;}
.relative{position:relative;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.static{position:static;}
.right{
  left: initial;
  right: 0px;
}
.right-xs{
  @include media($xs){
    left: initial !important;
    right: 0px !important;
  }
}
.right-sm{
  @include media($sm...){
    left: initial !important;
    right: 0px !important;
  }
}
.right-md{
  @include media($md...){
    left: initial !important;
    right: 0px !important;
  }
}
.left{
  right: initial ;
  left: 0px; 
}
.left-xs{
  @include media($xs){
    right: initial !important;
    left: 0px !important;
  }  
}
.left-sm{
  @include media($sm...){
    right: initial !important;
    left: 0px !important;
  }  
}
.left-md{
  @include media($md...){
    right: initial !important;
    left: 0px !important;
  }  
}

// C E N T E R  E L E M E N T
.center{margin-left: auto; margin-right: auto;}
.center-xs{
  @include media($xs){
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.center-sm{
  @include media($sm...){
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.center-md{
  @include media($md...){
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.opacity-half{
  opacity:.5;
}
.opacity-full{
  opacity:1;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .5;
  }
}
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .5s, opacity 1s;
    }
    &:active:after {
        transform: scale(0, 0);
        opacity: .2;
        transition: 0s;
    }
}
.pulse {
  cursor: pointer;
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px transparent;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 transparent;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px transparent;
    box-shadow: 0 0 0 10px transparent;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

ul.social{
  li{
    margin: 0px 8px;
  }
  a{
    display:block;
    opacity:.7;
    &:hover{
      opacity:1;
    }
  }
}

// -- utils
@import 'utils/background';
@import 'utils/box-shadow';
@import 'utils/color';
@import 'utils/font-size';
@import 'utils/margin';
@import 'utils/padding';
@import 'utils/radius';
@import 'utils/text';
@import 'utils/zoom-hover-img';