<template>
    <header role="header" id="header">
      <div id="header1" class="header1 bg-gray pt6 pb6">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="col-12 col-md-12 offset-md-1 col-xl-8 col-lg-9 offset-lg-4 font12 p-xs-0">
                <div class="row bg-gray">
                  <div class="col-2 col-lg-2 col-xs-3 col-md-2 font600 bg-gray text-right text-left-sm" style="z-index:2">
                    BROWSE <span class="d-none d-md-inline">CN</span>
                  </div>
                  <div class="col-9 col-md-10 col-lg-10 col-xl-9">
                    <ul class="menu p00" id="top-menu">
                      <li class="mr12">
                        <a href="#"><i class="fas fa-building mr8"></i>BUSINESS</a>
                      </li>
                      <li class="mr12">
                        <a href="#"><i class="fas fa-car mr8"></i>CARS</a>
                      </li>
                      <li class="mr12">
                        <a href="#"><i class="fas fa-tag mr8"></i>DEALS</a>
                      </li>
                      <li class="mr12">
                        <a href="#"><i class="fas fa-calendar-alt mr8"></i>EVENTS</a>
                      </li>
                      <li class="mr12">
                        <a href="#"><i class="fas fa-briefcase mr8"></i>JOBS</a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-home mr8"></i>REALESTATE</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="header2" class="bg-white header2 pt24 pb24">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="#" class="logo center-xs d-block">
                <img src="./../assets/img/cn-logo.png" alt="Connectnigeria" class="d-block center-xs">
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
</template>

<script>
  import Snap from'snapjs';

  export default{
    mounted(){
      new Snap({
      element: document.getElementById('top-menu'),
      dragger: null,
        disable: 'none',
        addBodyClasses: true,
        hyperextensible: true,
        resistance: 0.5,
        flickThreshold: 50,
        transitionSpeed: 0.3,
        easing: 'ease',
        maxPosition: 0,
        minPosition: -250,
        tapToClose: true,
        touchToDrag: true,
        slideIntent: 40,
        minDragDistance: 5
    });
  }
}

</script>