@import 'mixins/responsive';

$xs : '<=767px';
$sm : '>=768px','<=991px';
$md : '>=992px','<=1199px';
$lg : '>=1200px';

// ---------------------
a:hover{
	color:#2d8001;
}
body{
	background-color: #EEEDED!important;
	overflow-x:hidden;
}
#header1{
	.menu{
		@include media($xs){
			position:absolute;
			width:500px;
			z-index:1;
		}
		li a{
			color: #707070;
		}
	}
}
