<template>
	<div>
		<section class="pt64 pb64 pt-xs-32 pb-xs-32">
			<div class="container">
				<div class="row mb32 mt32">
					<div class="col-12 col-md-12 col-lg-10 offset-lg-1">
						<div class="row bg-white box-shadow1 radius-5">
							<div class="col-12 col-md-6 p00 bg-gradient1 d-none d-md-flex align-items-center justify-content-center">
								<img src="./../assets/img/login-img1.png" alt="Connectnigeria">
							</div>
							<div class="col-12 col-md-6 pl00 pr00 pt64 pb64 pt-xs-32 pb-xs-32">
								<h3 class="text-center mb32 font400">Welcome to Connectnigeria</h3>
								<p class="text-center mb8">
									Sign up with
								</p>
								<ul class="social menu center p00 d-table mb00">
									<li class="pr8">
										<a href="#" class="social-fb c-green font23">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li class="pr8">
										<a href="#" class="social-fb c-green font24">
											<i class="fab fa-google-plus-g"></i>
										</a>
									</li>
									<li>
										<a href="#" class="social-fb c-green font24">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
								</ul>
								<form class="login-form p32 row" id="login-form" @submit.prevent="submit">
									<div class="col-12 col-md-6 mb16 pl8 pr8">
										<div class="input-icon icon-left">
											<span class="icon">
												<i class="zmdi zmdi-account"></i>
											</span>
											<input type="text" @model="firstname" class="form-control validate required" data-error="#firstname-error" placeholder="First name">
										</div>
										<div id="firstname-error" ref="firstname-error" class="mt8 c-red" style="display:none"><i class="mr5 zmdi zmdi-alert-circle"></i>First name is required</div>
									</div>
									<div class="col-12 col-md-6 mb16 pl8 pr8">
										<div class="input-icon icon-left">
											<span class="icon">
												<i class="zmdi zmdi-account"></i>
											</span>
											<input type="text" @model="lastname" class="form-control" data-error="#lastname-error" placeholder="Last name">
										</div>
									</div>
									<div class="col-12 mb16 pl8 pr8">
										<div class="input-icon icon-left">
											<span class="icon">
												<i class="zmdi zmdi-email"></i>
											</span>
											<input type="email" @model="email" class="form-control validate required email" data-error="#email-error" placeholder="Email">
										</div>
										<div id="email-error" ref="email-error" class="mt8 c-red" style="display:none"><i class="mr5 zmdi zmdi-alert-circle"></i>Email is required and must be valid</div>
									</div>
									<div class="col-12 mb16 pl8 pr8">
										<div class="input-icon icon-left password-switcher switcher-icon-right" data-inactive-icon="zmdi zmdi-eye" data-active-icon="zmdi zmdi-eye-off">
											<span class="icon switcher">
												<i class="zmdi zmdi-eye"></i>
											</span>
											<input type="password" @model="password" class="form-control validate required" data-error="#password-error" placeholder="Password">
											
											<span class="icon">
												<i class="zmdi zmdi-lock"></i>
											</span>
										</div>
										<div id="password-error" ref="password-error" class="mt8 c-red" style="display:none"><i class="mr5 zmdi zmdi-alert-circle"></i>Password is required</div>
									</div>
									<div class="col-12 mb16 pl8 pr8">
										<div class="input-icon icon-left password-switcher switcher-icon-right" data-inactive-icon="zmdi zmdi-eye" data-active-icon="zmdi zmdi-eye-off">
											<input type="password" @model="cpassword" class="form-control validate required" data-error="#cpassword-error" placeholder="Confirm password">
											<span class="switcher icon">
												<i class="zmdi zmdi-eye"></i>
											</span>
											<span class="icon">
												<i class="zmdi zmdi-lock"></i>
											</span>
										</div>
										<div id="cpassword-error" ref="cpassword-error" class="mt8 c-red" style="display:none"><i class="mr5 zmdi zmdi-alert-circle"></i>Confirm password is required</div>
									</div>
									<div class="col-12 mb32 text-center pl8 pr8">
										<button class="btn btn-success full-width">
											GET STARTED
										</button>
									</div>
									<p class="text-center mb4 col-12 pl8 pr8">
										Already have an account? <router-link to="/signin" @click.native="preventDef($event)">Sign In</router-link>
									</p>
									<p class="col-12 mb4 text-center pl8 pr8">
										Lost password? <router-link to="/forgot" @click.native="preventDef($event)">Forgot Password</router-link>
									</p>
									<p class="col-12 text-center pl8 pr8">
										Need to verify account? <router-link to="/verify" @click.native="preventDef($event)">Verify Account</router-link>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<style>
	.bg-gradient1{
		background-color:#74D387;	
		background-image: radial-gradient(circle closest-side,#D3D8E0,#74D387);
	}
	.btn{
		-webkit-box-shadow: 0 10px 5px -6px rgba(0,0,0,.25) !important;
		-moz-box-shadow: 0 10px 5px -6px rgba(0,0,0,.25) !important;
		-o-box-shadow: 0 10px 5px -6px rgba(0,0,0,.25) !important;
		box-shadow: 0 10px 5px -6px rgba(0,0,0,.25) !important;
	}
</style>

<script>
	import axios from 'axios';

	export default{
		name : 'signup',
		data(){
			return {
				firstname : '',
				lastname : '',
				email : '',
				password : '',
				cpassword : ''
			}
		},
		methods : {
			preventDef(e){
				e.preventDefault();
			},
			formErrors(){
				let errors = false;

				if( this.firstname == '' ){
					this.$refs['firstname-error'].style.display = 'block';
					errors = true;
				}
				if( this.email == '' ){
					this.$refs['email-error'].style.display = 'block';
					errors = true;
				}
				if( this.password == '' ){
					this.$refs['password-error'].style.display = 'block';
					errors = true;
				}
				if( this.cpassword == '' ){
					this.$refs['cpassword-error'].style.display = 'block';
					errors = true;
				}

				return errors;
			},
			submit(){

				const data = {
					firstname : this.firstname,
					lastname : this.lastname,
					email : this.email,
					password : this.password,
					cpassword : this.cpassword
				}

				if( !this.formErrors() ){

					axios.post('https://api.connectnigeria.com/api/signup',data).then(function(res){
						console.log(res.data);
					}).catch(function(err){
						console.log(err);
					});

				}

			}
		}
	}
</script>