<template>
	<div>
		<section class="pt64 pb64 pt-xs-32 pb-xs-32">
			<div class="container">
				<div class="row mb32 mt32">
					<div class="col-12 col-md-12 col-lg-10 offset-lg-1">
						<div class="row bg-white box-shadow1 radius-5">
							<div class="col-12 col-md-6 p00 bg-gradient1 d-none d-md-flex align-items-center justify-content-center">
								<img src="./../assets/img/login-img1.png" alt="Connectnigeria">
							</div>
							<div class="col-12 col-md-6 pl00 pr00 pt64 pb64 pt-xs-32 pb-xs-32">
								<h3 class="text-center mb32 font400">Verify Account</h3>

								<form class="login-form p32 row" id="login-form" @submit.prevent="submit">
									<div class="col-12 mb16 pl8 pr8">
										<div class="input-icon icon-left">
											<span class="icon">
												<i class="zmdi zmdi-email"></i>
											</span>
											<input type="email" @model="email" class="form-control validate required email" data-error="#email-error" placeholder="Email">
										</div>
										<div id="email-error" ref="email-error" class="mt8 c-red" style="display:none"><i class="mr5 zmdi zmdi-alert-circle"></i>Email is required and must be valid</div>
									</div>
									<div class="col-12 mb32 text-center pl8 pr8">
										<button class="btn btn-success full-width">
											VERIFY ACCOUNT
										</button>
									</div>
									<p class="col-12 mb4 text-center pl8 pr8">
										Don't have an account yet? <router-link to="/signup" @click.native="preventDef($event)">Sign Up</router-link>
									</p>
									<p class="col-12 mb4 text-center pl8 pr8">
										Already have an account? <router-link to="/signin" @click.native="preventDef($event)">Sign In</router-link>
									</p>
									<p class="col-12 mb4 text-center pl8 pr8">
										Lost password? <router-link to="/forgot" @click.native="preventDef($event)">Forgot Password</router-link>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<style>
	.bg-gradient1{
		background-color:#74D387;	
		background-image: radial-gradient(circle closest-side,#D3D8E0,#74D387);
	}
	.btn{
		-webkit-box-shadow: 0 10px 5px -6px rgba(0,0,0,.25) !important;
		-moz-box-shadow: 0 10px 5px -6px rgba(0,0,0,.25) !important;
		-o-box-shadow: 0 10px 5px -6px rgba(0,0,0,.25) !important;
		box-shadow: 0 10px 5px -6px rgba(0,0,0,.25) !important;
	}
</style>

<script>
	import axios from 'axios';

	export default{
		name : 'forgotpassword',
		data(){
			return {
				email : ''
			}
		},
		methods : {
			preventDef(e){
				e.preventDefault();
			},
			formErrors(){
				let errors = false;

				if( this.email == '' ){
					this.$refs['email-error'].style.display = 'block';
					errors = true;
				}

				return errors;
			},
			submit(){

				event.preventDefault();

				if( !this.formErrors() ){

					axios.post('https://api.connectnigeria.com/api/forgot',{ email : this.email }).then(function(res){
						console.log(res.data);
					}).catch(function(err){
						console.log(err);
					});

				}

			}
		}
	}
</script>